div.ff7-window {
  border: solid 2px #424542;
  border-radius: 7px;
  box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  padding: 5px 10px;
  margin: 2px;
  background: linear-gradient(45deg, /* BL */ rgb(0, 0, 80), /* TR */ rgb(0, 0, 128));
  min-height: 100%;
  position: relative;
  z-index: 1;
}

div.ff7-window:before,
div.ff7-window:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

div.ff7-window:before {
  /* TL */
  background: linear-gradient(108deg, rgb(0, 0, 176), transparent);
  z-index: 2;
  top: 0;
  left: 0;
}

div.ff7-window:after {
  /* BR */
  background: linear-gradient(142deg, transparent, rgb(0, 0, 32));
  z-index: 3;
  bottom: 0;
  right: 0;
}

.ff7-window h1,
.ff7-window p {
  color: #eff1ff;
  text-shadow: 2px 2px #212421, 1px 1px #212021;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 4px 0;
  z-index: 4;
  position: relative;
}

body {
  background: black;
}
