#aeris-quote {
  top: 40px;
  left: 10%;
  position: absolute;
}

#shinra-bld-dialogue {
  width: 275px;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

#start-quote {
  top: 40px;
  right: 10%;
  position: absolute;
}
