
@font-face {
    font-family: 'final_fantasy_viiregular';
    src: url('../fonts/final_fantasy_vii-webfont.eot');
    src: url('../fonts/final_fantasy_vii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/final_fantasy_vii-webfont.woff2') format('woff2'),
         url('../fonts/final_fantasy_vii-webfont.woff') format('woff'),
         url('../fonts/final_fantasy_vii-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
