
div.ff7-window {
	border: solid 2px #424542;
	border-radius: 7px;
	box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
	padding: 3px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(45deg, /* BL */ rgb(0, 0, 80), /* TR */ rgb(0, 0, 128));
	min-height: 100%;
	position: relative;
	display: inline-block;
	z-index: 1;
	outline: none;
	overflow: hidden;
	float: left;
}

div.ff7-window:before,
div.ff7-window:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}

div.ff7-window:before {
	/* TL */
	background: linear-gradient(108deg, rgb(0, 0, 176), transparent);
	z-index: 2;
	top: 0;
	left: 0;
}

div.ff7-window:after {
	/* BR */
	background: linear-gradient(142deg, transparent, rgb(0, 0, 32));
	z-index: 3;
	bottom: 0;
	right: 0;
}

.ff7-window * {
	z-index: 4;
	position: relative;
}

.ff7-window .text.hidden {
	visibility: hidden;
}

body {
	vertical-align: top;
}

.ff7-window p {
	text-indent: -1em;
	padding-left: 1em;
}

.ff7-window h1,
.ff7-window p,
.ff7-window ul {
	margin: 0 0 0 0;
}

.ff7-window li.selected {
	background: url("../images/finger.png") no-repeat 0px 5px;
	background-size: 40px;
}

.ff7-window li.selected.invisible {
	background: none;
}

.ff7-text,
.ff7-window h1,
.ff7-window p,
.ff7-window li {
	color: #eff1ff;
	text-shadow: 2px 2px #212421, 1px 1px #212021;
	font-family: /* "final_fantasy_viiregular", */ Verdana, sans-serif;
	font-weight: normal;
	font-size: 1em;
	vertical-align: top;
	line-height: 2em;
}

.ff7-window ul {
	list-style: none;
	margin-left: -7px;
	padding-left: 3.4em;
}

.ff7-window li {
	padding-left: 3.4em;
	margin-left: -3.4em;
}

.ff7-text.background {
	color: #888;
	text-align: center;
	position: absolute;
	top: 200px;
	width: 600px;
	left: 50%;
	margin-left: -300px;
}

.ff7-window.shinra-bld-dialogue {
	width: 275px;
}

body {
	background: black;
}
